body {
  font: 14px/1.4 arial;
}

.suplilink {
  position: relative;
}

.imgDescription {
  position: relative;
  color: #000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility opacity 0.2s;
  
}


.suplilink:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}