.main-container {
  display: block;
  /*background-color : #ebebeb;*/
  /*background-color : #EFEFEF;*/
  background-color: #F9F9F9;
  color: #474747;
  overflow: hidden;
  height: 100%; }

/*.modal-confirm {
  background-color : green;
}

.modal-cancel {
  background-color : red;
}*/
.footer > p {
  font-size: 14px;
  margin: 8px;
  color: #666; }
